
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

// Variables
$black: #18191F;
$white: #ffffff;


$yellow: #FFBD12;
$grey: #E9E7FC;
$blue: #0093ED;
$red: #F95A2C;
$light-grey: #353639;
$dark-purple: #2A1B3C;
$purple: #44318C;
$light-purple: #8265A7;
$pink: #D83F87;





// fonts
$poppins: 'Poppins', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$yeseva: 'Yeseva One', serif;

// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px

:root {
    --emo: cubic-bezier(.4, 0, .2, 1);
    --emo-in-out: cubic-bezier(.4, 0, .2, 1);
    --emo-out: cubic-bezier(0, .2, .2, 1);
}

body {
  --bg: #eceaf4;
  --primarypurple: #44318C;
  --purple10: #362770;
  --purple20: #302262;
  --purple30:#291d54;
  --pink: #D83F87;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: purple;
  --nativewhite: #FFFFFF;
  --nativedark: #2A1B3C;
  --inversebg: #2A1B3C;
  --darkbg: #ffffff;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #2A1B3C;
  --primarypurple: #3d2c7e;
  --purple10: #574698;
  --purple20:#695aa3;
  --purple30:#7c6faf;
  --pink: #D83F87;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --nativewhite: #FFFFFF;
  --nativedark: #2A1B3C;
  --inversebg: #ffffff;
  --darkbg: #1d132a;
  --hr: hsla(0, 0%, 100%, 0.2);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-shadow: none;
 }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }



html,  body{
  font-family: $josefin;
  font-weight: 500;
  width: 100%;
  height: 100%;
  color: var(--primarypurple);
}

h1, h2, h3, h4, h5, h6{
    font-family: $montserrat;
    font-weight: 800;
    line-height: 120%;
    
}

p{
  line-height: 160%;
}
a{
  text-decoration: none;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
img{
  vertical-align: middle;
}

// Basic layout
.container{
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  @media (max-width: $tablet-wide){
      width: 100%;
  }
}

section{
    position: relative;
}
::-moz-selection { /* Code for Firefox */
  color: $yellow;
  background: var(--primarypurple);
}

::selection {
  color: var(--darkbg);
  background: var(--primarypurple);
}



.top-nav{
  @media (max-width: $mobile-landscape){
    flex-direction: column;
    padding-top: 2px;
  }
  .nav-box{
    padding: 18px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    @media (max-width: $mobile-landscape){
      flex-direction: column;
      padding: 12px 24px;
    }
  }
  .brand{
    display: block;
    .logo{
      height: 58px;
    }
  }
  .buttons{
    display: flex;

    @media (max-width: $mobile-landscape){
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    li{
      line-height: 0;
    }
    .btn-social{
      line-height: 0;
      border: 1.25px solid var(--pink);
      display: inline-block;
      padding: 4px 12px;
      border-radius: 10px;
      margin-left: 16px;
      @media (max-width: $mobile-landscape){
        margin-top: 12px;
      }
      img{
        height: 36px;
      }
      &:hover{
        background: #fbecf3;
      }
    }
    
    }
}


.hero_section{
  overflow: hidden;

  .hero_wrapper{
    
    text-align: center;
    @media (max-width: $mobile-landscape){
      padding-top: 0;
      
    }
    .hero_img{
      position: relative;
      top: 0px;
      right: 0px;
      text-align: center;
      width: 100%;
      
      @media (max-width: $desktop){
        right: 10px;
      }
      @media (max-width: $mobile-landscape){
        width: 100%;
        right: 0;
        position: relative;
        
        margin-top: 0;
      }
      img{
        
        width:900px;
        @media (max-width: $desktop){
          width: 800px;
        }
        @media (max-width: $tablet-wide){
          width: 600px;
          margin-top: 10px;

        }
        @media (max-width: $tablet){
          width: 80%;
          margin-top: 10px;

        }
        @media (max-width: $mobile-landscape){
          width: 90%;
          
          margin-top: 10px;

        }
      }
    }
    .hero_details{
      
      padding-bottom: 80px;
      width: 100%;
      text-align: center;
      @media (max-width: $tablet-wide){
        
        padding: 0;
      }
      @media (max-width: $mobile-landscape){
        padding: 0;
        
        
      }

      .texts{
        @media (max-width: $mobile-landscape){
          margin-top: 10px;
        }
        img{
          height: 50px;
        }
        
        
        h1{
          font-family: $yeseva;
          font-size: 58px;
          font-weight: 600;
          line-height: 110%;
          padding-top: 15px;
          margin-bottom: 10px;
          letter-spacing: -1px;
          color: var(--pink);
          text-align: center;
          @media (max-width: $mobile-landscape){
            font-size: 40px;
            margin-top: 5px;
            
          }
          @media (max-width: $tablet-wide){
            padding: 8px 20px;
          }
        }
        p{
          margin: 18px 0;
          font-size: 20px;
          color: var(--purple30);
          line-height: 150%;
          font-weight: 400;
          padding-right: 40px;
          text-align: center;
          padding: 0 12px;
          @media (max-width: $tablet-wide){
            font-size: 18px;
            
            
          }
        }
        strong{
          font-weight: 700;
          color: #0072B1;
        }
      }

      .license-box{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 50px;
        @media (max-width: $mobile-landscape){
            margin-top: 50px;
            
            
          }
       
       
        .license{
          width: 100%;
          
          align-items: center;
          text-align: center;
          
          p{
            color: $purple;
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
            @media (max-width: $mobile-landscape){
              font-size: 14px;
              max-width: 500px;
              margin: 0 auto;
            }
            a{
              color: $light-purple;
              font-weight: 600;
              margin-right: 12px;
              margin-left: 2px;
              border-bottom: 1px dotted var(--purple10);
              &:hover{
                color: var(--purple10);
              }
            }
          }
        }
      }
    }
  }
}

.nav{
  padding: 24px 0;
}

.features_section{
  background: var(--darkbg);
  z-index: 1111;

  .feature_box{
    padding: 80px 24px ;
    display: flex;
    flex-direction: row;
    @media (max-width: $tablet-wide){
      flex-direction: column;
      margin-top: 80px;
    }
    .f_box{
      width: 25%;
      @media (max-width: $tablet-wide){
        width: 100%;
        flex-direction: column;
        margin-bottom: 20px;
      }
      .box_wrap{
        padding: 12px;
        text-align: center;
        h2{
          font-size: 62px;
          font-weight: 800;
          color: var(--purple10);
          @media (max-width: $tablet-wide){
            font-size: 54px;
          }
        }
        h4{
          margin-top: 8px;
          font-size: 21px;
          font-weight: 400;
          color: var(--purple10);
          opacity: .8;
          @media (max-width: $tablet-wide){
            font-size: 16px;
            margin-top: 2px;
          }
        }
      }
    }
  }
}

.footer{

  background: var(--primarypurple);
  color: var(--nativewhite);
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  text-align: center;
  @media (max-width: $mobile-landscape){
  }
  .disclamer{
    text-align: center;
    h2{
      color: $white;
      font-size: 26px;
      margin: 8px 0;
      @media (max-width: $mobile-landscape){
        font-size: 22px;
      }
    }
    p{
      color: rgba(255,255,255, .7);
      font-weight: 400;
      font-size: 18px;
      margin: 12px 0;
      @media (max-width: $mobile-landscape){
        font-size: 14px;
        padding: 8px;
      }
    }
    margin-bottom: 50px;
  }
  .product{
    margin: 20px;
    h2{
      color: $white;
      font-size: 24px;
      margin: 12px 0;
    }
    margin-bottom: 40px;
    .product-wrap{
      padding-top: 10px;
      
      .product-box{
        width: 25%;
        align-items: center;
        width: 100%;
        
        a{
          display: inline-block;
          margin: 5px;
          @media (max-width: $mobile-landscape){
            padding: 24px 0 ;
          }
          img{
            max-height: 40px;
          }
          &:hover{
            opacity: .8;
          }
        }
      }
    }
  }
  .yeah-credit{
    padding: 32px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    border-top: .5px solid rgba(255,255,255,0.2);
    @media (max-width: $tablet){
      flex-direction: column;
    }
    .maker{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $white;
      @media (max-width: $tablet){
        flex-direction: column;
        text-align: center;
      }

      h3{
        color: rgba(255,255,255, .7);
        font-weight: 400;
        margin-right: 50px;
        font-size: 14px;
        @media (max-width: $tablet){
          margin: 0;
        }
        span{
          color: $white;
          @media (max-width: $tablet){
            display:block;
            margin-bottom: 20px;
          }
        }
        a{
          font-weight: 600;
          color: $white;
          border-bottom: 1px dotted $grey;
          &:hover{
            opacity: .7;
          }
        }
      }
      h2{
        color: rgba(255,255,255, .7);
        font-weight: 400;
        margin-left: 30px;
        font-size: 14px;
        @media (max-width: $tablet){
          margin: 0;
        }
        span{
          color: $white;
          @media (max-width: $tablet){
            display:block;
            margin-bottom: 20px;
          }
        }
        a{
          font-weight: 600;
          color: $white;
          border-bottom: 1px dotted $grey;
          &:hover{
            opacity: .7;
          }
        }
      }
      .scl-lnk{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        vertical-align: middle;
        line-height: normal;
        font-size: 14px;
        @media (max-width: $tablet){
          margin: 12px 24px;
        }
        >li{
          margin-right: 4px;
          color: rgba(255,255,255, .7);
          a{
            font-weight: 600;
            border-bottom: 1px dotted $grey;
            margin: 0 8px;
            strong{
              color: $white;
            }
            &:hover{
              opacity: .7;
            }
          }
        }
      }
    }
    .spl-credit{
      @media (max-width: $tablet){
        margin-top: 50px;
        text-align: center;
      }
      p{
        color: rgba(255,255,255, .7);
        font-size: 14px;
      }
      span{
        color: $white;
        @media (max-width: $tablet){
          display: block;

        }
      }
      a{
        font-weight: 600;
        color: $white;
        border-bottom: 1px dotted $grey;

        &:hover{
          opacity: .7;
        }
      }
    }
  }
}

.btn{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 20px 24px;
  
  border-radius: 16px;
  @media (max-width: $mobile-landscape){
  }
  h4{
    font-size: 22px;
    font-weight: 800;
  }
  span{
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
  }
  &.btn-download{
    background: var(--inversebg);
    border:1px solid var(--inversebg);
    padding: 22px 36px;
    
    cursor: pointer;
    display: inline-block;
    transition: all ease 0.2s;
    border-radius: 16px;
    z-index: 11;
    position: relative;
    @media (max-width: $mobile-landscape){
      margin-right: 0;
      width: 100%;
    }
    h4{
      font-family: $montserrat;
      font-weight: 600;
      color: var(--bg);
    }
    span{
      color: var(--bg);
    }
    &:hover{
      background: var(--purple10);
      border:1px solid var(--purple10);
      h4{
        color: var(--purple30);
      }
    }
  }
  &.btn-coffee{
    background: var(--pink);
    margin-top: 10px;
    border:1px solid var(--purple10);
    padding: 22px;
    cursor: pointer;
    display: inline-block;
    transition: all ease 0.2s;
    border-radius: 16px;
    z-index: 8;
    position: relative;
    
    @media (max-width: $mobile-landscape){
      margin-right: 0;
      width: 100%;
    }
    h4{
      font-weight: 600;
      font-size: 20px;
      
      color: var(--nativewhite);
    }
    
    &:hover{
      background: var(--bg);
      h4{
        color: var(--inversebg);
      }
    }
  }
  &.btn-ramen{
    background: var(--inversebg);
    margin-top: 10px;
    border:1px solid $purple;
    padding: 22px;
    cursor: pointer;
    display: inline-block;
    transition: all ease 0.2s;
    border-radius: 16px;
    z-index: 8;
    position: relative;

    @media (max-width: $mobile-landscape){
      margin-right: 0;
      width: 100%;
    }
    h4{
      color: var(--bg);
      font-weight: 600;
      font-size: 20px;
    }
    
    &:hover{
      background: var(--bg);
      h4{
        color: var(--inversebg);
      }
    }
  }
}


.btn-lnks{
  margin-top: 5px;
  display: flex;
  padding: 5px 0;
  
  @media (max-width: $mobile-landscape){
    margin-top: 20px;
    padding: 10px;
    flex-direction: column;
  }
  .dwn-links{
      position: relative;
      display: inline-block;
      vertical-align: top;
      z-index: 12;
      align-items: center;
      text-align: center;
      margin: auto;
      @media (max-width: $mobile-landscape){
        display: block;
        margin-right: 0;
        width: 100%;
      }
      .btn{
        @media (max-width: $mobile-landscape){
            
        }
      }
      .btn-download{
          
        @media (max-width: $mobile-landscape){
          margin-bottom: 10px;
          
        }
      }

      .dwn-list{
        
        z-index: 9;
        top: 0;
        left: 0;
        position: absolute;
        background: #fff;
        border-radius: 16px;
        width: 100%;
        overflow: hidden;
        height: 0;
        opacity: 0;
        -webkit-box-shadow: 0 8px 14px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 8px 14px -2px rgba(0,0,0,0.1);
        box-shadow: 0 8px 14px -2px rgba(0,0,0,0.1);
        -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -ms-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -o-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        >li{
            
          a{
            font-size: 16px;
            font-weight: 700;
            display: block;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            margin: 0 20px;
            padding: 16px 0;
            text-decoration: none;
            
            text-align: left;
            color: $black;
            img{
              height: 18px;
              margin-right: 6px;
            }
            &:hover{
              color: $purple;
            }
          }
          &:last-child{
            a{
              border: none;
            }
          }
        }
      }
      &:hover{
        overflow: visible;
        .dwn-list{
          overflow: visible;
          opacity: 1;
          top: calc(100%);
          height: auto;
        }
        .d-arrow{
          img{
            transform: scale(-1, -1);
          }
        }
      }
  }
}


.announce-wrapper{
  &.ph{
    // background: #da552f;
    background: var(--primarypurple);
  }
  .an-details{
    text-align: center;
    padding: 10px 20px;
    p{
      color: $white;
      font-size: 22px;
      line-height: 150%;
      a{
        color: $white;
        text-decoration: none;
        strong{
          font-weight: 600;
        }
      }
      img{
        height: 58px;
        vertical-align: middle;
        @media (max-width: $mobile-landscape){
            display: block;
            margin: 0 auto;
        }
      }
    }
  }
}


.mode-toggle{
  input[type=checkbox]{
    width: 38px;
    height: 20px;
    background-color: #fff;
    -webkit-appearance:none;
    border-radius: 24px;
    border: 3px solid var(--purple20);
    outline: none;
    position: relative;
    font-weight: bolder;
    font-size: 22px;
    &:before{
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 50%;
        background-color: var(--primarypurple);
        background-image: url("/moon.svg");
        background-repeat: no-repeat;
        background-position: center;
        left: -5px;
        top:-5px;
        transition-duration: .5s;
    }
  }

  input:checked[type=checkbox]{
    background-color: var(--purple30);
    border: 3px solid var(--purple20);
    &:before{
        content: '';
        background-color: var(--primarypurple);
        -webkit-box-shadow: 0 0 8px rgba(0,147,237,.8);
        -moz-box-shadow: 0 0 8px rgba(0,147,237,.8);
        box-shadow: 0 0 8px rgba(0,147,237,.8);
        left: 12px;
        transition-duration: .5s;
        color:#555;
    }
  }
}